.Detail-main {
    display: flex;
    // flex-wrap: wrap;
    gap: 10px 30px;
    padding: 20px 20px;

}

.detail-right-content {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;

    .heading {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
    }

    .detail-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 21px 140px;
    }
}

// detail small card styling is here 
.detail-card-main {
    display: flex;
    align-items: center;
    gap: 0px 5px;
    height: auto;

    .left-img {
        width: 90px;
        height: 90px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
    }

    .detail-right-content {
        display: flex;
        flex-direction: column;
        gap: 2px 0px;

        .name {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #000000;
        }

        .dimension {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
        }

        .gender {
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 300;
            font-size: 16px;
            color: #818181;
        }
    }
}

// resposive layout for mobile device
@media only screen and (min-width: 100px) and (max-width: 700px) {
    .Detail-main {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 0px;
        padding: 0%;
        justify-content: center;
    }


    .detail-right-content {
        gap: 10px 0px;
        width: 345px;

        .name {
            font-size: 16px;
        }

        .dimension {

            font-size: 16px;
        }

        .gender {
            font-size: 16px;
        }
    }

}