@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


// main component location is desisgnng here
.location-main {
    padding-left: 5%;

    .location-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

    .location-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

// main component location is desisgnng end here


.location-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #44281D;
}


.button {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    text-align: left;

    .button-content {
        position: relative;
        right: 15px;
    }

    .unknown-button {
        position: relative;
        right: 0%;
    }

    .dead-circle {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: #B9000040;
        border-radius: 50%;
        margin: 0px 10px;
        position: relative;
        right: 15px;
    }

    .alive-circle {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: #98CD4D40;
        border-radius: 50%;
        margin: 0px 10px;
        position: relative;
        right: 15px;
    }

    .unknown-circle {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: #B8B8B8;
        border-radius: 50%;
        // margin: 0px 10px;
        position: relative;
        right: 5px;
    }

    .dead-dark-circle {
        background: #B90000;
    }

    .alive-dark-circle {
        background: green;
    }

    .unknown-dark-circle {
        background: #B8B8B8;
    }

}

// image card design
.main-imagecard {
    margin-top: 10px;

    .image {
        width: 345px;
        height: 345px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
    }

    .heading {
        width: 100%;
        text-align: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        height: 30px;
        color: #44281D;
        margin: 10px 0px;

        span {
            cursor: pointer;
            transition: all 0.5s;
        }

        span:hover {
            text-decoration: underline;
        }
    }

    .dot-text {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 0px 10px;

        .right-text {
            span {
                font-family: 'Poppins';
                font-style: italic;
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
                color: #818181;
            }
        }

        .left-text {
            .alive-circle {
                display: inline-block;
                width: 16px;
                height: 16px;
                background: #98CD4D;
                border-radius: 50%;
                margin-right: 10px;
            }

            .dead-circle {
                display: inline-block;
                width: 16px;
                height: 16px;
                background: #B90000;
                border-radius: 50%;
                margin-right: 10px;
            }

            .unknown-circle {
                display: inline-block;
                width: 16px;
                height: 16px;
                background: #B8B8B8;
                border-radius: 50%;
                margin-right: 10px;
            }

            span {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #44281D;
            }
        }

    }

    .dimension {
        margin-top: 10px;

        span {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }
    }

}

.location-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// responsive design is here
@media only screen and (min-width: 300px) and (max-width: 400px) {

    .location-main {
        padding-left: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .location-cards {
            width: 100%;
            justify-content: center;
        }

        .location-text {
            display: none;
        }

        .location-buttons {
            margin-top: 10px;
            width: 100%;
            justify-content: center;
        }

    }

    .button {
        width: 110px;
        height: 35px;
        border-radius: 50px;
        text-align: left;

        .button-content {
            position: relative;
            right: 15px;
        }

        .unknown-button {
            position: relative;
            right: 0%;
            font-size: 12px;
        }

        .dead-circle {
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #B9000040;
            border-radius: 50%;
            margin: 0px 10px;
            position: relative;
            right: 15px;
        }

        .alive-circle {
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #98CD4D40;
            border-radius: 50%;
            margin: 0px 10px;
            position: relative;
            right: 15px;
        }

        .unknown-circle {
            display: inline-block;
            width: 12px;
            height: 12px;
            background: #B8B8B8;
            border-radius: 50%;
            // margin: 0px 10px;
            position: relative;
            right: 5px;
        }
    }
}