@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');





.card {
  position: relative;
  top: 30px;
  width: 420px;
  height: 130px;
  left: 0px;
  background: #EFE04B;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 15px;
  transition: all 0.5s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.card-content {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 100%;
  height: 22px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.card-item {
  position: absolute;
  left: 20px;
  top: 40px;

  table {
    position: relative;

    .left-td {

      width: 175px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 22px;
    }

    .right-td {
      position: absolute;
      left: 130px;
      width: 199px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 22px;

      .colon {

        margin-right: 2px;
      }
    }
  }
}

// Nav styling 
.nav-border {
  border: 1px solid rgba(17, 176, 200, 0.11);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}

.pagination {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

// location apge design




// responsive card desing
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .App {
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
      top: 80px;
      height: 130px;
      left: 0%;
      width: 345px;
      border-radius: 15px;

      td {
        span {
          display: none;
        }
      }
    }
  }

  .pagination {
    position: relative;
    top: 68px;
  }
}